.rotate-90 {
  transform: rotate(90deg);
  display: inline-block;
}

.push-bottom-1 {
  margin-bottom: $base-spacing;
}

.push-bottom-half {
  margin-bottom: $base-spacing/3;
}

.visible {
  opacity: .6 !important;
}

.visible-soft {
  opacity: 1;
}
