body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  font-weight: normal;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

@import '../neat/neat';

h1 {
  font-family: $franklin-gothic;
  font-size: $h1-font-size;
  font-weight: 700;
  line-height: .9;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  margin: 0 0 1em;

  @include media($medium-screen) {
    font-size: $h1-font-size * 1.3;
  }
  
  .page-id-87 .the-content > & {
    &:after {
      content: url(../images/siv-signature.png);
      position: relative;
      top: .35em;
      left: .5em;
    }
  }
}

.the-content .h1 {
  @extend h1;
}

.h1-sub {
  @extend h1;
  font-size: 2em;
}

.single-product h1 {
  margin: 0 0 .25em;
  text-align: center;
  font-size: 1.65em;
  
  @include media($medium-screen){
    font-size: $h1-font-size;
  }
  
  @include media($large-screen){
    text-align: left;
  }
}

h2 {
  font-size: $h2-font-size;
  margin-bottom: .5em;
  letter-spacing: -0.025em;

  .the-content > & {
    font-size: $h1-font-size;
    border-bottom: $base-border;
    padding-top: $base-padding / 2;
    text-transform: uppercase;
    font-family: $franklin-gothic;
    font-weight: bold;
  }
  
  .hero-home & {
    font-family: $helvetica-franklin;
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: .375em;
    text-align: center;
    
    @include media($tiny-screen) {
      font-size: 2em;
      letter-spacing: -0.025em;
    }
    
    @include media($small-screen) {
      font-size: 1.75em;
    }
    
    @include media($medium-screen) {
      text-align: left;
      letter-spacing: 0;
      font-size: 2.1em;
    }
  }
}

h3 {
  font-family: $franklin-gothic;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-bottom: $base-padding / 2;
  font-size: $h3-font-size;

  .the-content > & {
    font-size: $h2-font-size;
    margin-bottom: $base-padding / 6;
  }
}

h4 {
  font-size: $h4-font-size;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: $base-padding / 2;

  .the-content > & {
    margin-bottom: 0;
  }
}

h5 {
  font-size: $h5-font-size;
  color: $medium-gray;
}

.articles h5 {
  font-size: .9em;
  line-height: 1.6em;
  font-family: "Merriweather", serif;
  margin-bottom: 1.5em;
}

h6 {
  font-size: $h6-font-size;
  color: $medium-gray;
}

p {
  margin: 0 0 ($base-spacing / 2);

  .the-content > & {
    .instructions-inline {
      font-family: $helvetica-franklin;  
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      margin-bottom: -.4em;
    }
    
    strong {
      font-family: $helvetica-franklin;
    }
  }
  
  .page-id-87 .single .the-content & {
    font-family: $helvetica-franklin;
  }
}

a {
  @include transition(all 0.2s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  color: lighten($base-font-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing*1.25;
  overflow: auto;
  
  p {
    float: left;
    font-size: 1.75em !important;
    color: $gray;
    font-style: italic;
    margin-bottom: 0;
    margin-right: .25em;
  }
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}
