// WordPress admin bar fixed position
.heading-section {
  text-align: center;
  
  h1 {
    font-size: 3em;
    text-transform: none;
    font-family: $helvetica-franklin;
    margin-bottom: .25em;
  }
  
  p {
    font-family: $helvetica-franklin;
    font-size: 1.05em;
  }
  
  .fb-share-button { top: -8px; }
}

.pagination-home {
  text-align: center;
  margin-bottom: 3em;
  
  div {
    display: inline-block;
    background: #4bc2c8;
    transition: background .3s;
    border-radius: $base-border-radius;
    
    a { 
      color: $white;
      padding: 1em 1.5em;
      display: inline-block;
      font-family: $helvetica-franklin;
      text-transform: uppercase;    
    }
    
    &.pagination-home-prev {
      margin-right: 1.5em;
    }
    
    &:hover { background: darken(#4bc2c8, 10); }
  }
}
