
// Postcards

/*.postcard-item--preview {
  @include transition(all 0.25s ease-in-out);
  background: white;
  border: $base-border;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  padding: .25em;
  cursor: pointer;
  position: relative;
  top: 0;

  h2 {
    display: inline-block;
    padding-left: .252em;
    
    @include media($x-large-screen) {
      max-width: 50%;
    }
   }

  .meta {
    @include media($x-large-screen) {
      float: right;
      padding: 0 .5em 0 0;
    }

    margin: 0;
    padding-left: .5em; 
    font-style: normal;
    font-size: 1em;
  }

  &:hover {
    @include transform(scale(1.025));
    box-shadow: 0 7px 6px rgba(0,0,0,.05);
    top: -7px;
  }
}*/

.category-postcard .articles { margin-right: 0; }

.category-postcard #main {
  background: #f1f1f1;
}

.category-postcard h1 {
  text-align: center;
  margin: 1em 0 2em;
}

.category-postcard #page-header {
  border-bottom: #e8e8e8 1px solid;
}

.category-postcard .articles {
  margin: 0 auto;

  @include media(em(640)) { width: 600px; }
  @include media(em(800)) { width: 740px; }
  @include media(em(960)) { width: 920px; }
}

.articles .postcard-item {
  &:before {
    @include media(em(800)) {
      @include transition(all 0.1s ease-in-out);
      content: '+';
      background: rgba(0,0,0,.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      color: white;
      font-size: 5em;
      text-align: center;
      padding-top: 8%;
    }

    @include media(em(960)) { padding-top: 12.2%; }
  }

  &:hover:before {
    opacity: 1;
  }

  @include transition(all 0.25s ease-in-out);
  position: relative;
  margin: 0 auto 2em;
  padding: 0;
  background: white;
  border: none;
  box-shadow: 0 3px 2px rgba(0,0,0,.1);
  cursor: pointer;
  min-height: 0;
  
  width: 280px; height: 150px;
  @include media(em(500)) { width: 430px; height: 220px; }
  @include media(em(640)) { width: 290px; height: 155px; }
  @include media(em(800)) { width: 360px; height: 185px; }
  @include media(em(960)) { width: 450px; height: 230px; }

  @include media($medium-screen) {
    margin-right: 20px;
    float: left;
    margin-bottom: 3.5em;

    &:nth-child(2n-1) { @include omega; }
  }

  &:nth-child(4n-3) {
    @include transform(rotate(1deg));
  }

  &:nth-child(4n-2) {
    @include transform(rotate(-1deg));
  }

  img {
    width: 100%;
    height: auto;
  }
}

.postcard-item.type-a {
  h2 {
    position: absolute;
    bottom: 30px;
    margin: 0;
    right: 1em;
    color: white;
    font-family: "grafolita-script";

    font-size: 1.5em;
    @include media(em(500)) { font-size: 2.5em; }
    @include media(em(640)) { font-size: 1.8em; }
    @include media(em(800)) { font-size: 1.8em; }
    @include media(em(960)) { font-size: 2.5em; }
  }

  .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 8px solid white;
  }
}

.postcard-item.type-b {
  .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 10px solid white;

    @include media(em(800)) { border: 20px solid white; }
    @include media(em(960)) { border: 30px solid white; }
  }

  h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    height: 100%;
    line-height: 10.5;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;

    font-size: 1em; line-height: 9.5;
    @include media(em(500)) { font-size: 1.3em; line-height: 10; }
    @include media(em(640)) { font-size: 1em; line-height: 9.5; }
    @include media(em(800)) { font-size: 1.2em; line-height: 10; }
    @include media(em(960)) { font-size: 1.5em; line-height: 9.5; }

    span {
      border: 3px solid white;
      padding: .25em .5em
    }
  }
}

.postcard-item.type-c {
  h2 {
    position: absolute;
    bottom: 25px;
    left: 12px;
    color: white;
    margin: 0;
    font-family: "juniper-std";

    font-size: 2em;
    @include media(em(500)) { font-size: 4em; }
    @include media(em(640)) { font-size: 3em; }
    @include media(em(800)) { font-size: 4em; }
    @include media(em(960)) { font-size: 4em; }
  }

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    margin: 0;
    padding: .25em 10px;
    font-family: Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    font-size: .5em;
    @include media(em(500)) { font-size: .9em; }
    @include media(em(640)) { font-size: .5em; }
    @include media(em(800)) { font-size: .8em; }
    @include media(em(960)) { font-size: 1em; }
  }
}

.postcard-item.type-d {
  .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 8px solid white;
  }

  p {
    position: absolute;
    left: 35px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family: Helvetica; 
    margin: 0;

    font-size: .7em; letter-spacing: 4px; bottom: 45px;
    @include media(em(500)) { font-size: .8em; letter-spacing: 7px; bottom: 77px; }
    @include media(em(640)) { font-size: .6em; letter-spacing: 3px; bottom: 45px; }
    @include media(em(800)) { font-size: .8em; letter-spacing: 5px; bottom: 64px; }
    @include media(em(960)) { font-size: 1em; letter-spacing: 7px; bottom: 85px; }
  }

  h2 { 
    font-family: "learning-curve";
    color: white;
    position: absolute;
    bottom: 1px;
    left: 30px;
    line-height: 1;
    margin: 0;
    padding-right: 10px;
    letter-spacing: 0;

    font-size: 3em;
    @include media(em(500)) { font-size: 5em; }
    @include media(em(640)) { font-size: 3em; }
    @include media(em(800)) { font-size: 4em; }
    @include media(em(960)) { font-size: 6em; }
  }
}

.postcard-item.type-e {
  .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 8px solid #444;
  }

  p {
    font-family: Baskerville, serif;
    position: absolute;
    left: 30px;
    top: 50px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    margin: 0;
    border-bottom: 2px solid white;
    line-height: 1.3;

    font-size: 2em;
    @include media(em(500)) { font-size: 3em; }
    @include media(em(640)) { font-size: 2em; }
    @include media(em(800)) { font-size: 3em; }
    @include media(em(960)) { font-size: 3em; }
  }

  h2 {
    font-family: Baskerville, serif;
    text-transform: uppercase; 
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    margin: 0;

    font-size: 1em;
    @include media(em(500)) { font-size: 1.3em; }
    @include media(em(640)) { font-size: 1em; }
    @include media(em(800)) { font-size: 1.3em; }
    @include media(em(960)) { font-size: 1.3em; }
  }
}

.postcard-item.type-f {
  .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 8px solid white;
  }

  h2 {
    font-family: "flood-std";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    line-height: .8;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: white;

    font-size: 3em;
    @include media(em(500)) { font-size: 5em; }
    @include media(em(640)) { font-size: 3em; }
    @include media(em(800)) { font-size: 4em; }
    @include media(em(960)) { font-size: 5em; }

    span {
      display: table;
      height: 100%;
      width: 100%;
    }

    em {
      display: table-cell;
      vertical-align: middle;
      font-style: normal;
    }
  }
}

/*.postcard-item.is-open {
  opacity: 0;
}*/


#page-header,
#main,
.page-closing {
  @include transition(all 0.25s ease-in-out);
}

.page-closing {
  display: none;
}

.postcard-item-close {
  display: block;

  @include media(max-width $medium-screen) {
    &:after {
      background: url("../images/mobile-back.svg") 1em .65em no-repeat;
      background-size: 12px auto;
      content: 'Back to postcards';
      padding: .55em 0 .25em 2em;
      display: block
    }
  }
  
  @include media($medium-screen) {
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 3em;
    line-height: .75;
    color: white;
    position: fixed;
    top: .5em;
    right: .5em;

    &:after { content: '×'; }

    &:hover {
      color: #ddd;
    }  
  }

  @include media(min-width $medium-screen max-width $large-screen) {
    background: black;
    border-radius: 100px;
    padding-top: 10px;
    font-size: 2em;
  }

}

@include media($x-large-screen) {
  .minisiv-postcard { 
    display: block;
    background: url('../images/siv-postcard.png') no-repeat;
    width: 108px;
    height: 151px;
    position: absolute;
    left: -91px;
    bottom: 90px;
    z-index: 5;

    &.is-pre {
     @include transition(all 0.25s ease-in-out);
      background: url('../images/siv-postcard-pre.png') no-repeat;
      z-index: -1;
    }

    &.is-hidden {
      left: 0px;
    }
  }

  .minisiv-postcard-message {
    @include transition(all 0.25s ease-in-out);
    display: block;
    background: url('../images/siv-postcard-message.png') no-repeat;
    width: 137px;
    height: 132px;
    position: absolute;
    left: -160px;
    bottom: 190px;
    z-index: -2;
    opacity: 1;

    &.is-hidden {
      opacity: 0;
    }
  }
}

.single-postcard-bg {
  background: #484848 url('../images/pc-bg.jpg') center repeat-y;
  background-size: 80%;
  height: 100%;

  @include media($medium-screen) {
    background-size: 70%;
  }

  @include media($x-large-screen) {
    background-size: 969px 826px;
  }

  .more {
    margin: 0 auto ;
    max-width: 40em;
    text-align: center;
    position: relative;
    top: 4em;

    h3 {
      display: inline-block;
      color: white;
      margin-right: .25em;
      font-size: 1.6em;
      position: relative;
      top: 3px;
    }
  }
}

.postcard-is-open #main {
  -webkit-filter: blur(5px);
}

.postcard-popout-bg {
  @include transition(all 0.25s ease-in-out);
  
  .postcard-is-open & {
    z-index: 4;
    opacity: 1;
  }

  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
}

.postcard-item--popout {
  // Set shape and size of postcard, and hide it
  @include transition(opacity 0.25s ease-in-out); 
  background: white;
  z-index: -1;
  position: fixed;
  left: 2%;
  right: 2%;
  width: 96%;
  opacity: 0;

  // Reveal the postcard
  &.is-open {
    position: absolute;
    opacity: 1;
    z-index: 99; 
    top: 10px;
  }

  .single &.is-open {
    top: 1em;
    position: relative;

    @include media($medium-screen) {
      top: 2em;
      left: 0;
    }
  }

  // Give the postcard fixed shape
  @include media($medium-screen) {
    width: 600px;
    margin: 0 auto;

    &.is-open { top: 2em; }
  }

  // Make the postcard larger
  @include media($large-screen) { width: 750px; }
  @include media($x-large-screen) { width: 960px; }

  // The postcard's image
  .postcard-item--image {
    height: 350px;
    overflow: hidden;
    background: #222;
    width: 100%;
    background-size: cover;
    background-position: center;

    // Put it to the side
    @include media($medium-screen) {
      width: 55%;
      float: left;
    }

    // Increase the size
    @include media($large-screen) {
      width: 60%;
      height: 400px;
    }

    @include media($x-large-screen) {
      width: 70%;
      height: 450px;
    }
  }

  // Postcar message/content
  .postcard-item--content {
    padding: 1em;
    background: white;
    
    @include media($medium-screen) {
      padding: 7em 1em 0em;
      width: 45%;
      float: right;
      height: 350px;
    }

    @include media($large-screen) {
      padding: 7em 1.5em 0em;
      width: 40%;
      height: 400px;
    }

    @include media($x-large-screen) {
      width: 30%;
      height: 450px;
    }
  }

  .postcard-item--content--message {
    @include media($medium-screen) {
      max-height:90px;
      overflow: scroll;
      overflow-x: hidden;
      padding-left: 1em;
      padding-right: 1em;
      margin: 0 -1em;
    }

    @include media($large-screen) {
      max-height: 130px;
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin: 0 -1.5em;
    }

    @include media($x-large-screen) {
      max-height: 180px;
    }
  }

  .postcard-item--content--signature {
    background: url('../images/postcard-sig.jpg') 0 15px no-repeat;
    background-size: 200px auto;
    width: 100%;
    height: 85px;
    margin-bottom: .6em;

    @include media($medium-screen) {
      border-top: $base-border;
    }
  }

  .button.facebook {
    @include linear-gradient(#4e68bb, #3d52a0);
    border-radius: 4px;
    width: 100%;
    text-align: center;

    &:hover {
      @include linear-gradient(darken(#4e68bb, 10), darken(#3d52a0, 10));
    }

    span {
      background: url('../images/icons.svg') -40px -34px no-repeat;
      background-size: auto 51px;
      width: auto;
      padding-left: 22px;
      height: 18px;
      display: inline-block;
    }
  }

  // Stamp
  &:before {
    @include media($medium-screen) {
      z-index: 0;
      content: '';    
      background: url('../images/postcard-stamp.jpg') top right no-repeat;
      background-size: contain;
      width: 110px;
      height: 128px;
      position: absolute;
      top: 1em;
      right: 1.25em;
    }
  }
}
