.button {
  @extend %button;
  font-family: $franklin-gothic;
  text-transform: uppercase;
  font-size: 16px;

  &.secondary {
    border: 1px solid $base-button-color;
    color: $base-button-color;
    background: transparent;

    &:hover {
      background: $base-accent-color;
      color: white;
    }
  }
}

// Page header
#page-header {
  border-bottom: $base-border;
}


#navigation {
  background: $white;
  text-align: center;
}

// Page header links
#primary-links {
  padding: .5em 0 0;
  font-family: $franklin-gothic;
  font-weight: 400;

  @include media($large-screen) {
    padding: .5em 0;
  }

  li {
    font-size: em(16);
    display: inline-block;
    text-transform: uppercase;
  }

  a:not(.button) {
    color: $base-font-color;

    &.active,
    &:hover {
      color: $secondary-link-color;
    }
  }


  li .nav-primary-2 {
    color: $medium-gray;
  }

  li .nav-primary-twitter {
    position: relative;
    top: 4px;
    background: url('../images/icons.svg') 0 0 no-repeat;
    background-size: auto 50px;
    width: 18px;
    height: 17px;
    text-indent: -999em;
    display: inline-block;

    &:hover {
      background-position: -20px 0;
    }
  }

  li .nav-primary-facebook {
    position: relative;
    top: 4px;
    background: url('../images/icons.svg') 0 -34px no-repeat;
    background-size: auto 50px;
    width: 18px;
    height: 17px;
    text-indent: -999em;
    display: inline-block;

    &:hover {
      background-position: -20px -34px;
    }
  }

  li .nav-primary-instagram {
    position: relative;
    top: 4.5px;
    background: url('../images/icons.svg') 0 -17px no-repeat;
    background-size: auto 50px;
    width: 18px;
    height: 17px;
    text-indent: -999em;
    display: inline-block;

    &:hover {
      background-position: -20px -17px;
    }
  }

  // Header logo
  .logo a {
    display: inline-block;
    //float: left;
    width: 180px;
    height: 47px;
    white-space: nowrap;
    padding: .3em 0 0;
    
    svg path {
      fill: $pink; 
    }

    @include media(400px) {
      width: 210px;
      height: 50px;
      font-size: em(25);
      padding: .3em 0 0;
      margin-bottom: -10px;
      margin-right: .2em;
    }

    @include media(450px) {
      font-size: em(30);
      padding: .1em 0 0;
    }
  }

  // Subscribe button
  .nav-primary-3 {
    display: block;
    float: right;
    text-align: right;
    width: 35%;
    height: 47px;
    overflow: hidden;
    margin-top: .35em;

    @include media($medium-screen) { 
      height: 50px;
      padding-top: .2em;
    }

    a {
      max-width: 100%;
    }
  }

 
  // List item that contains main nav elements
  // On small screens, use a horizontal scroll
  .nav-primary {
    position: relative;
    float: left;
    padding: .5em 1.5em;
    margin-top: .5em;
    background: $light-gray;
    border: 1px solid darken($light-gray, 10);
    border-radius: 3px;
    cursor: pointer;
    min-width: 180px;
    text-align: right;
    
    .page-active {
      display: block;
      float: left;
    }
    
    .rotate-90 {
      margin-left: .5em;
      font-size: .7em;
      font-family: sans-serif;
      line-height: 0;
      transform: rotate(90deg) scaleY(2);
      color: darken($light-gray, 10);
    }

    ul {
      display: none;
      position: absolute;
      z-index: 10;
      left: -1px;
      border: 1px solid darken($light-gray, 10);
      border-top: 1px solid darken($light-gray, 10);
      top: 38px;
      text-align: left;
      width: calc(100% + 2px);
      border-radius: 0 0 3px 3px;

      li {
        float: left;
        display: block;
        width: 100%;
        background: darken($light-gray, 3);
        border-bottom: 1px solid darken($light-gray, 10);
        padding: .35em 1.5em;
        transition: background .3s;
        
        &:last-child {
          border-bottom: none;
        }
      
        &:hover {
          background: darken($light-gray, 5);
        }
      }
    }

    &:hover {
      border-radius: 3px 3px 0 0;
      ul { display: block; }
    }

    @include media(max-width $large-screen) {
      background: $light-gray;
      display: block !important;
      margin: 0 -1em;
      padding: .5em 1em;
      clear: both;
      border-top: $base-border !important;
      border-bottom: $base-border;

      a {
        margin-right: .75em;
      }

      @include media(max-width $medium-screen) {
        overflow-x: scroll;
        white-space: nowrap;
      }
    }
  }

  // Switch from thin link style to wide link style
  @include media($medium-screen) { 
    li a {
      margin-right: .75em;
    }

    .logo,
    .nav-primary-3 {
      float: none;
      width: auto;
      height: auto;
      display: inline-block;
    }
    
    .nav-primary-3 {
      float: right;
    }
  }
}
