.button {
  @extend %button;
  font-family: $franklin-gothic;
  text-transform: uppercase;

  &.secondary {
    border: 1px solid $base-button-color;
    color: $base-button-color;
    background: transparent;

    &:hover {
      background: $base-accent-color;
      color: white;
    }
  }
  
  .nav-primary-3 & {
    @include linear-gradient(to top, darken($blue, 6), $blue);
    position: relative;
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      border-radius: 3px;
      opacity: 0;
      @include linear-gradient(to top, darken($blue, 50), darken($blue, 5));
      z-index: 0;
      transition: all .3s;
    }
    
    &:hover { 
      &:after {
        opacity: .1;
      }      
    }
  }
}

// Page header

#navigation {
  background: $white;
  transition: background .3s;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  box-shadow: 0 1px 0 rgba(0,0,0,.075);
  
  //adjust positioning for wordpress admin bar
  .admin-bar & { 
    top: 45px;  
    
    @include media(em(783)) {
      top: 32px;
    } 
  }
}

// Page header links
#primary-links {
  @include outer-container();
  padding: .75em 0;
  font-family: $helvetica-franklin;
  font-weight: 600;
  font-size: .8em;
    
  @include media(em(380)){
    font-size: 1em;
  }  
    
  @include media($small-screen){
    font-size: 1.1em;
  }
    
  @include media($medium-screen){
    padding: .5em 0;
  }
  
  @include media(em(1280)) { max-width: 100%; padding: .5em; }

  li {
    font-size: em(16);
    display: inline-block;
  }

  a:not(.button) {
    color: $base-font-color;

    &.active,
    &:hover {
      color: $dark-gray;
    }
  }
  
  a.button {
    text-transform: none;
    font-family: $helvetica-franklin;
    font-weight: 600;
    padding: 1.1em 1em;
    
    @include media(em(380)){
      padding: .85em 1em;
    }  
    
    @include media($small-screen){
      padding: .85em 1.5em;
    }
  }

  li .nav-primary-2 {
    color: $medium-gray;
  }  

  // Subscribe button
  .nav-primary-3 {
    display: block;
    float: right;
    text-align: right;
    width: 35%;
    height: 47px;
    overflow: hidden;

    a {
      max-width: 100%;
      margin-right: 0;
    }
  }

 
  // List item that contains main nav elements
  .nav-primary {
    position: relative;
    float: left;
    background: $menu-gray;
    border-radius: 3px;
    cursor: pointer;
    min-height: 36px;
    
    @include media(em(380)){
      min-height: 40px;
    }  
    
    a { 
      padding: .5em 1.5em;
      display: inline-block;
      text-align: left;
      white-space: nowrap;
      transition: background .2s;

      &:hover {
        background: darken($menu-gray, 5);
      }
            
      @include media($large-screen) {
        min-width: 210px;
        min-height: 47px;
      }
    }
      
     &.nav-opened .menu-toggler { top: 3px; }
    
    .menu-toggler {
      display: block;
      position: relative;
      height: 22px;
      width: 22px;
      top: 1px;
      transition: top .3s;
      
      @include media($large-screen) {
        display: none;
      }
      
      .hamby {
        width: 22px;
        height: 3px;
        display: block;
        position: absolute;
        left: 0;
        background: $dark-gray;
        transition: all .3s;
      
        @include media($small-screen) {
          width: 22px;
        }
        
        &:first-child { 
          top: 0;
          
          &.nav-animate {
            transform:  translateY(6px) rotate(45deg);
          }
        }
        &:nth-child(2) { 
          top: 8px;
          
          &.nav-animate {
            transform:  scale(.1);
            opacity: 0;
          }
        }
        &:last-child { 
          top: 16px;
          
          &.nav-animate {
            transform:  translateY(-10px) rotate(-45deg);            
          }
        }
      }
    }
    
    .page-active {
      display: none;
      float: left;
      
      a { border-radius: 3px 3px 0 0; }
      
      @include media(em(860)) {
        display: block;
      }
    }
    
    .rotate-90 {
      display: none;
      margin-left: .5em;
      font-size: .7em;
      font-family: sans-serif;
      line-height: 0;
      -webkit-transform: rotate(90deg) scaleY(2);
      transform: rotate(90deg) scaleY(2);
      color: darken($menu-gray, 15);
      position: absolute;
      right: 20px;
      top: 22px;
      
      @include media(em(860)) {
        display: inline-block;
      }
    }

    ul {
      display: none;
      position: absolute;
      z-index: 10000;
      left: -1px;
      top: 34px;
      text-align: left;
      border-radius: 0 0 3px 3px;
      min-width: 180px;
      font-size: 1.25em;
      box-shadow: 0px 5px 5px -2px rgba(0,0,0,.2);
      
      @include media($small-screen) {
        font-size: 1em;
        top: 38px;
      }
      
      @include media($large-screen) {
        min-width: auto;
        top: 42px;
        border-top: 1px solid darken($light-gray, 8);
      }

      li {
        float: left;
        display: block;
        width: 100%;
        background: $menu-gray;
        border-bottom: 1px solid darken($light-gray, 8);
        transition: background .3s;
        min-width: 208px;
        
        &.uncathegorized { display: none; }
        
        &:last-child {
          border-bottom: none;
          border-radius: 0 0 3px 3px;
        }
      
        &:hover {
          background: darken($menu-gray, 5);
        }
      }

      li.nav-icons {
        background: $menu-gray;
        padding: 0;

        .icons-tag { 
          display: inline-block;
          text-indent: -999em; 
        }

        a { 
          transition: background .3s; 
          width: 33.3333%;
          display: inline-block;
          position: relative;
          float: left;
          height: 40px;
          margin: 0;
          min-width: initial;

          &:hover {
            background: #8BB678;
          }

          .icon-block {
            display: block;
            height: 22px;
            width: 25px;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            overflow: hidden;
            
            svg { 
              position: absolute;
              width: 72px;
              height: 72px;
              right: 0;
            }
          }            
        }

        .nav-primary-twitter { 
          background: #4BD0EF;
          border-radius: 0 0 0 3px;

          svg { 
            top: -3px;
          }
        }

        .nav-primary-facebook {
          background: #4B71B8;

          svg { 
            top: -47px;
          }
        }

        .nav-primary-instagram {
          background: #517FA4;
          border-radius: 0 0 3px 0;

          svg { 
            top: -25px;
          }
        }
      }
    }

    &:hover,
    &.nav-opened {
      border-radius: 3px 3px 0 0;
    }

    &:hover {
      @include media(em(860)){
        ul { 
          display: block !important;
          margin-left: 1px;
        }
      }      
    }

    &.nav-opened {
      ul { display: block; }
      
      @include media(em(860)){
        ul { display: none; }
      }
    }

    @include media(max-width em(859)) {
      background: $menu-gray;
      display: block !important;
      margin: 0 -1em;
      padding: .5em 1em;
      clear: both;
      border-top: $base-border !important;
      border-bottom: $base-border;

      a {
        margin-right: .75em;
      }
    }
    
    @include media(max-width em(860)){ margin: .25em -1em 0 0; }

    @include media(max-width $medium-screen) {
      white-space: nowrap;
    }
  }

  .logo,
  .nav-primary-3 {
    width: auto;
    height: auto;
    display: inline-block;
  }

  .nav-primary-3 {
    float: right;
  }  

  // Header logo

  .logo {
    float: none;
    position: absolute; 
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 13px;
    left: 140px;
    
    @include media($tiny-screen) {
      left: 140px;
    }
    
    @include media(em(380)) {
      left: 150px;
    }
    
    @include media($small-screen) {
      left: 200px;
    }
    
    @include media($medium-screen) {
      top: 10px;
    }
    
    @include media($large-screen) {
      top: 5px;
      left: 50%;
    }
    
      a {
      display: inline-block;
      width: 140px;
      height: 40px;
      white-space: nowrap;
      padding: .3em 0 0;

      svg path {
        fill: $pink; 
      }

      @include media($tiny-screen){
        width: 140px;
      }  

      @include media(em(380)){
        width: 160px;
        margin-left: 1em;
      }  

      @include media($small-screen) {
        width: 180px;
        height: 47px;
      }

      @include media($small-screen) {
        width: 210px;
        height: 50px;
        font-size: em(25);
        padding: .3em 0 0;
        margin-bottom: -10px;
        margin-right: .2em;
        margin-left: 0;
      }

      @include media(450px) {
        font-size: em(30);
        padding: .1em 0 0;
      }
    }
  }
}
