@font-face {
	font-family: 'star';
	src: url('../fonts/star.eot');
	src: url('../fonts/star.eot?#iefix') format('embedded-opentype'),
		url('../fonts/star.woff') format('woff'),
		url('../fonts/star.ttf') format('truetype'),
		url('../fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

.single-product {
  background: $light-gray;
  
  section {
    @include outer-container();
    max-width: 100%;
  }
}

.product-summary {
  @include span-columns(5);
  padding: 7.25em 2em 0 2em;
  background: $white;
  min-height: calc(100vh - 65px);
}

.product-image {
  @include span-columns(7);
  @include omega();
  
  .image {
    position: fixed;
    top: 10em;
  }
}

.price {
  font-size: 1.75em;
  margin-bottom: 0;
}

.star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.75em;
  letter-spacing: 2px;
  font-family: 'star';

  &:before {
    content: "\73\73\73\73\73";
    color: $gray;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
  }

  span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
    color: $blue;
  }
}

.woocommerce-product-rating {
  @include clearfix();
  line-height: 2;
  display: block;

  .star-rating {
    margin: .5em 4px 0 0;
    float: left;
  }
}

.products {
  .star-rating {
    display: block;
    margin: 0 0 .5em;
    float: none;
  }
}

.hreview-aggregate {
  .star-rating {
    margin: 10px 0 0 0;
  }
}

#review_form {
  #respond {
    @include clearfix();
    position: static;
    margin: 0;
    width: auto;
    padding: 0 0 0;
    background: transparent none;
    border: 0;

    p {
      margin: 0 0 10px;
    }

    .form-submit {
      input {
        left: auto;
        float: none;
      }
    }

    textarea {
      box-sizing: border-box;
      width: 100%;
    }
  }
}

p.stars {
  a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-family: "WooCommerce";
      content: "\e021";
      text-indent: 0;
    }

    &:hover {
      ~ a:before {
        content: "\e021";
      }
    }
  }

  &:hover {
    a {
      &:before {
        content: "\e020";
      }
    }
  }

  &.selected {
    a.active {
      &:before {
        content: "\e020";
      }

      ~ a:before {
        content: "\e021";
      }
    }

    a:not(.active) {
      &:before {
        content: "\e020";
      }
    }
  }
}


.product-description-short {
  margin-top: 2.25em;
  
  p {
    font-size: 1.1em;
    line-height: 1.35;
  }
}

.single-product .cart {
  display: block;
  overflow: auto;
  margin-bottom: 3.75em;
}

.quantity {  
  input {
    width: 3.25em;
    font-size: 1.25em;
    float: left;
    font-family: $helvetica-franklin;
    margin-right: .25em;
  }
}

.single_add_to_cart_button {
  float: left;
  text-transform: none;
  font-family: $helvetica-franklin;
  font-weight: bold;
  font-size: 1.15em;
  padding: .75em 2em;
  margin-right: 1em;
  transition: all .3s;
}

.in-stock {
  float: left;
  font-family: $helvetica-franklin;
  color: $pink;
  line-height: 3;
}

.wc-tabs-wrapper {
  @include clearfix();
}

.wc-tabs {
  @include clearfix();
  border-bottom: 2px solid #dfdfdf;
  margin-bottom: 1.75em;
  
  li {
    float: left;
    margin-right: 1em;
    font-family: $helvetica-franklin;
    
    &.active {
      border-bottom: 2px solid $blue;
      margin-bottom: -2px;
    }
  }
}

.woocommerce-Tabs-panel {
  
  h2 {
    font-family: $franklin-gothic;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.85em;
    margin-bottom: .35em;
    
    &.woocommerce-Reviews-title {
      margin-bottom: 1em;
    }
  }
  
  tr {
    border-bottom: $base-border;
    
    &:last-child,
    th,
    td {
      border: none;
    }
    
    th {
      font-family: $helvetica-franklin;
      width: 25%;
    }
    
    th,
    td {
      padding: .25em;
      font-size: .95em;
    }
  }
}

.product-image {
  .images {
    position: fixed;
    top: 7.75em;
    
    a {
      display: block;
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.commentlist li {
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
  border-bottom: $base-border;
  
  .comment_container {

    .avatar {
      position: absolute;
    }

    .comment-text {
      padding-left: calc(60px + 1em);
      min-height: 60px;
    }
  }  
}

.form-submit {
  text-align: right;
  padding-bottom: 1.25em;
  
  .submit {
    @extend .single_add_to_cart_button;
  }
}
