// WordPress admin bar fixed position
#wpadminbar {
  position: fixed !important;
}

body {
  padding-top: 49px;

  @include media($small-screen) {
    padding-top: 54px;
  } 
  
  &.admin-bar {
    padding-top: 42px;

    @include media($small-screen) {
      padding-top: 58px;
    } 
  }
}

.hide { display: none; }
